<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/layout.css">
</head>
<body>
    <section class="container1">
        <div class="header">
            <h7 id="EarthTribe">EarthTribe</h7>
            <div>
                <select id="Challanges">
                    <option>Challanges</option>
                </select>
                <button id="btn-join">Join</button>
            </div>
        </div>
        <div class="main">
            <div>
                <h1>Saving our planet together, one challange at a time</h1>
                <h2>Taking the lead to preserve, protect and heal nature, begins together under one Earth Tribe</h2>
                <button>Learn more</button>
            </div>
            <div class="empty"></div>
        </div>
    </section>

    <section class="container2">
        <h1>Join the global earth community</h1>
        <h3>Explore a series of exciting environmental Challanges to earn your recognisation badges and become a member of Earth Tribe
        </h3>
        <div>
            <div>
                <div class="div-challanges">
                    <div></div>
                </div>
                <h2>Champions for Nature challange</h2>
                <p>Became a champion for a nature and biodiversity by developing sustainable habits for eco-friendly
                    and healthy lifestyle.</p>
                <div class="circle">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                    <button class="btn-challanges">Become a champion for nature. ></button>
            </div>
            <div>
                <div class="div-challanges">
                    <div></div>
                </div>
                <h2>Tide turns Plastic challange</h2>
                <p>Bulid heaithier and more resilient oceans.leaks and lands
                    by understanding how pollution effects every corner of the world.</p>
                <div class="circle">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <button class="btn-challanges">Turn the tide on pollution.  ></button>
            </div>
            <div>
                <div class="div-challanges">
                    <div></div>
                </div>
                <h2>Scouts Go Solor challange</h2>
                <p>Bulid heaithier and more resilient oceans.leaks and lands
                    by understanding how pollution effects every corner of the world.</p>
                <div class="circle">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                </div>
                <button class="btn-challanges">Become a solor advocate .   ></button>
            </div>
        </div>
 
    </section>


    <section class="container3">
        <div class="main1">
            <div class="empty1"></div>
            <div class="div-content-main1">
                <h1>Join a global youth movement for the environment</h1>
                <p>
                    Our world is changing at a remarkable pace. The essence of all life on earth, nature, is under enormous threat. We are experiencing the impacts of climate change, reliance on fossil fuels, rising consumption habits, and a loss of natural habitat and species.</p>
                   <p> The Earth Tribe unites young people in a global movement to become champions for preserving and protecting our planet.   
                    </p>
            </div>
        
        </div>
        <div class="main2">
            <div class="div-content-main2">
                <h1>A tribe that enables you to protect and heal our planet </h1>
                <p>Through the Earth Tribe, you will understand your own personal impact on the environment, learn how to take action in your community to improve the health of the planet, and participate in a series of exciting environmental Challenges</p>
                <p>Earth Tribe is your personal educational journey for environmental change - a global community of friends who share your passion and</p>
            </div>
            <div class="empty1"></div>
        </div>
        <button class="btn-quiz">Take the Earth Tribe quiz</button>
    </section>
    

    <section class="container4">
        <h1>Why join the Earth Tribe?</h1>
        <div>
            <div>
                <h2>Join the community</h2>
                <p>An access to a global community of young people working to preserve and protect</p>
            </div>
            <div>
                <h2>Get inspired</h2>
                <p>inspiration and visuals of young people
                    taking action in their community to          
                    improve the environment</p>
            </div>
            <div>
                <h2>Step up</h2>
                <p>An opportunity to step up to ensure you have this nature for your outdoor
                    activities and skills development</p>
            </div>
        </div>    
        <div>

            <div>
                <h2>Have an impact</h2>
                <p>A network of future environmental leaders designing solutions together for cleari energy oceane and habitats</p>
            </div>
            <div>
                <h2>Become a role model</h2>
                <p>The power to create your own normental journey to become a role model in your community</p>
            </div>
            <div>
                <h2>Collect badges</h2>
                <p>An access to a series of Challenges and recognition badges and Action Kits</p>
            </div>
        </div>
    </section>


    <section class="container5">
        <h1>Why join the Earth Tribe?</h1>
        <h3>Your Earth Tribe journey will take you through a series of Challenges
            that will inspire you to care about the environment and become:</h3>
        <div>
            <div>
                <div class="div-empty-container5"></div>
                <h3>Advocate for better choices</h3>
            </div>
            <div>
                <div class="div-empty-container5"></div>
                <h3>Champion of nature and biodiversity</h3>
            </div>
            <div>
                <div class="div-empty-container5"></div>
                <h3>Innovator for clean energy</h3>
            </div>
            <div>
                <div class="div-empty-container5"></div>
                <h3>Healer for a healthy planet</h3>
            </div>
        </div>
    </section>

    <section class="container6">
        <h1>See how others take on the challenge</h1>
        <div class="main-container6">
            <div class="div-empty-container6"></div>
            <div class="div-content-main1">
                <h1>First Aid volunteering in Alertathon</h1>
                <p>Due to some loss of jobs in many families.
                    Dominican Scouts helped raise more than
                    $75,000 USD to a local campaign</p>
                <div class="bio-deatils-container6">
                    <div class="circle-container6"></div>
                    <div class="bio-container6">
                        <h3>Jimena O. Ramirez</h3>
                        <p class="contry-bio-container6">Peru</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="comments">
            <div>
                <p>"Mother Earth give us everything we eat wear, use sea and even make us feel good, it we don't take concrete action now our life on this planet won't be possible."</p>
                <div class="bio-deatils-container6">
                    <div class="circle-container6"></div>
                    <div class="bio-container6">
                        <h3>Grecia Barcena</h3>
                        <p class="contry-bio-container6">Mexico</p>
                    </div>
                </div>
            </div>
            <div>
                <p>"Cras non dolor. Curabitur vestibulum aliquam leo. Pellentesque dapibus hendrerit tortor, integer ante arcu, accumsan a, consectetuer eget, posuera ut. mauris."</p>
                <div class="bio-deatils-container6">
                    <div class="circle-container6"></div>
                    <div class="bio-container6">
                        <h3>William</h3>
                        <p class="contry-bio-container6">Earth Tribe Youth Member</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="container7">
        <h1 class="slogan1">Saving our planet together.</h1>
        <h1 class="slogan2" > Join the global Earth Tribe movement!</h1>
        <button class="btn-joinEarthTribe">Join the Earth Tribe</button>
    </section>



    <section class="container8">
        <h1>Our Partners</h1>
        <div>
            <div class="empty-container8"></div>
            <div class="empty-container8"></div>
            <div class="empty-container8"></div>
            <div class="empty-container8"></div>
        </div>
    </section>

    <section class="footer">
        <div class="footer-start">
            <div class="div-empty-footer"></div>
            <div>
                <h4>About</h4>
                <p>Scout and SDGs</p>
                <p>Educational Resources</p>
                <p>Better World Framework</p>
                <p>Media</p>
                <p>The SDGs</p>
                <p>Contact us</p>
            </div>
            <div>
                <h4>Challenges</h4>
                <p>Champions for Nature challange</p>
                <p>Tide Turners Plastic challenge</p>
                <p>Scouts Go Solor challange </p>
            </div>
            <div>
                <h4>Social Media</h4>
                <p>Instagram</p>
                <p>Facebook</p>
                <p>Twitter</p>
                <p>Youtube</p>
                <p>Linkedin</p>
                <p>Flickr</p>
            </div>
        </div>
        <div class="footer-end">
            <div class="terms-conditions ">
                <p>Terms and Conditions</p>
                <p>Cookies Policy</p>
                <p>Privacy Policy</p>
                <p>Terms of Use</p>
                <p>Child Protection</p>
            </div>
            <div class="empty2-footer"></div>
        </div>
    </section>
</body>
</html>