body{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
.container1{
    width:80%;
    background-color:rgb(238,238,228);
    padding: 1% 10%;
}
p{
    color: gray;
    line-height: 25px;
}
.header,.main,.main2{
    width:100%;
    overflow: hidden;
    padding:2% 0%;
    display: flex;
    justify-content: space-between;
    font-family: system-ui;
}
.main{
    padding:5% 0%;
}
.header>h7{
    font-weight: 500;
    font-size: smaller;
}
.header>div{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -10px;
}
#Challanges{
    padding-right: 5px;
    border: none;
    font-weight: 600;
    font-size: smaller;
}
.header>div>button{
    background-color: black;
    color: white;
    height: 40px;
    width: 70px;
    border-radius: 5px;
    font-weight:600;
    border: none;
    margin-left:30px;
}
.main>div>h1{
    font-size: 44px;
    font-weight: 500;
}
.main>div>h2{
    color: gray;
    font-weight: normal;
    font-size: 22px;
}
.main>div:first-child{
    padding-right: 7%;
}
.main>div>button,.btn-quiz{
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    position: relative;
    padding: 2%;
}
.empty{
    min-height: 300px;
    min-width: 300px;
    border-radius: 5px;
    background-color: rgb(196 187 187 / 39%);
}
 .container2,.container3,.container4,.container5,.container6,.container8{
    width:80%;
    padding: 5% 10%  10% 10%;
    font-family:system-ui;
}
.container2>h1,.div-content-main2>h1,.div-content-main1>h1{
    font-size: xx-large;
    font-family:system-ui;
}
.container2>h3{
   color: gray;
   font-weight: normal;
   width: 60%;
   line-height: 30px;
}
.container2>div{
    display: flex;
    justify-content: space-between;
}
.container2>div>div{
    width: 300px;
    padding-top: 5%;
}
.div-challanges{
    min-height: 150px;
    border-radius: 5px;
    background-color: rgb(196 187 187 / 39%);
    padding: 15px;
}
.div-challanges>div{
    min-height: 70px;
    width: 70px;
    border-radius: 5px;
    background-color: white;
}
.container2>div>div>h2{
    width: 290px;
}
.circle{
    display: flex;

}
.circle>div{
    height: 35px;
    width:35px;
    border-radius: 50%;
    background-color: rgb(196 187 187 / 39%);
    margin-right: 3%;
}
.btn-challanges{
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    padding: 4%;
    position: relative;
    top:4% ;
}
.main1{
    width:100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
}
.empty1{
    min-height: 350px;
    min-width: 350px;
    border-radius: 5px;
    background-color: rgb(196 187 187 / 39%);
}
.div-content-main1{
    padding: 0 0 0 15%;
}
.div-content-main2{
    padding: 0 15% 0 0;
}
.div-content-main2>p,.div-content-main1>p{
    width:330px;
}
.container4>h1{
    font-size: xx-large;
    font-family:system-ui;
    font-weight: 500;
}
.container4>div{
    display: flex;
    justify-content: space-between;
}
.container4>div>div{
   width: 30%;
}
.container4>div>div>h2{
    font-size: 22px;
    font-weight: 500;
 }
 .container5>h1{
    font-size: xx-large;
    font-weight: 500;
 }
 .container5>h3{
    color: gray;
    font-weight: normal;
    width: 62%;
    line-height: 30px;
 }
 .container5>div{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
 }
 .container5>div>div{
    width: 20%;
 }
 .div-empty-container5{
    width: 200px;
    height: 150px;
    border-radius: 5px;
    background-color: rgb(196 187 187 / 39%);
 }
 .div-empty-container5>h3{
    color: black;
    font-weight: bold;
    line-height: 30px;
 }
 .container6>h1{
    font-size: xx-large;
    font-weight: 500;
 }
 .main-container6{
    background-color:rgb(238,238,228);
    display: flex;
    justify-content:space-between;
    padding: 4%;
    border-radius: 5px;
 }
 .div-empty-container6{
    min-height: 200px;
    min-width: 400px;
    border-radius: 5px;
    background-color: rgb(196 187 187 / 39%);
 }
 .div-content-main1{
    padding: 0 0 0 13%;
 }
.circle-container6{
    height: 50px;
    width:50px;
    border-radius: 50%;
    background-color: rgb(196 187 187 / 39%);
}
.bio-container6{
    margin-left: 4%;
}
.bio-deatils-container6{
    display: flex;
}
.contry-bio-container6,.bio-container6>h3{
    margin: 0px auto;
}
.comments{
    display: flex;
    justify-content: space-between;
    padding-top:5%;
}
.comments>div{
    width:47%;
}
.container7{
    background-color: rgb(77, 77, 77);
    width:60%;
    font-family:system-ui;
    color: white;
    text-align: center;
    padding: 5% 10%;
    margin:0 10%;
    border-radius: 5px;
}
.btn-joinEarthTribe{
    background-color: white;
    color:  rgb(77, 77, 77);
    padding:1.5% 2%;
    margin: auto;
    border:none;
    border-radius: 5px;
    font-size: smaller;
    font-weight: bold;
    margin-top: 2%;
}
.slogan1{
    margin-bottom: 0px;
}
.slogan2{
    margin-top: 0px;
}
.container8>h1{
    color:  rgb(77, 77, 77);
    padding-top: 5%;
}
.container8>div{
    display: flex;
    justify-content:space-between;
}
.empty-container8{
    width: 220px;
    height: 100px;
    border-radius: 5px;
    background-color: rgb(196 187 187 / 39%);
}
.footer{
    background-color:rgb(238,238,228);
    font-family:system-ui;
    color: white;
    padding: 0 10%;
    border-radius: 5px;
}
.footer-start{
    padding:5% 0;
    display: flex;
    justify-content:space-between;
    border-bottom:solid 1px rgb(77, 77, 77);
}
.div-empty-footer{
    width: 180px;
    height: 100px;
    border-radius: 5px;
    background-color: rgb(196 187 187 / 39%);
}
.footer>div>div>h4{
    color:  gray;
    margin-top: 0%;
}
.footer>div>div>p{
    color:  gray                    ;
    margin: 0%;
    font-size: smaller;
}
.empty2-footer{
    height:50px;
    width:90px;
    background-color: rgb(196 187 187 / 39%);
    border-radius: 5px;
}
.terms-conditions{
    display: flex;
}
.footer-end{
    display: flex;
    justify-content: space-between;
    padding: 2% 0;
}
.terms-conditions>p{
    width:145;
    padding-right: 30px;
}
